<!doctype html>
<html>
    <body>
        <h2>Resumen de ventas del sistema CleanFlow</h2>
        <p>{{mensaje}}</p>
        <p>Se adjunta el archivo en formato PDF con el detalle completo.</p>
    </body>
</html>
